@use "variables"as v;

@mixin DesktopDisplayLarge() {
    font-size: v.$fontSize-huge;
    font-weight: v.$fontWeight-bold;
    line-height: 56px;
    letter-spacing: -1px;
}

@mixin UserCardTitle() {
    font-size: v.$fontSize-x-big;
    font-weight: v.$fontWeight-semibold;
    line-height: 28px;
}