@use "variables"as v;

@mixin DesktopDisplayLarge() {
    font-size: v.$fontSize-huge;
    font-weight: v.$fontWeight-bold;
    line-height: 56px;
    letter-spacing: -1px;
}

@mixin DesktopHeadingFive() {
    font-size: v.$fontSize-xx-big;
    font-weight: v.$fontWeight-semibold;
    line-height: 32px;
    letter-spacing: -1px;
}

@mixin UserCardTitle() {
    font-size: v.$fontSize-x-big;
    font-weight: v.$fontWeight-semibold;
    line-height: 28px;
}

@mixin ParagraphMedium() {
    font-size: v.$fontSize-sm;
    font-weight: v.$fontWeight-medium;
    line-height: 20px;
}

@mixin LabelLarge() {
    font-size: v.$fontSize-md;
    font-weight: v.$fontWeight-medium;
    line-height: 18px;
}

@mixin LabelMedium() {
    font-size: v.$fontSize-sm;
    font-weight: v.$fontWeight-medium;
    line-height: 16px;
}

@mixin LabelSmall() {
    font-size: v.$fontSize-x-sm;
    font-weight: v.$fontWeight-medium;
    line-height: 14px;
}