@use "variables"as v;
@use "FontSets"as text;

@mixin InputBoxShadow() {
    box-shadow: 0 8px 24px -3px rgba($color: v.$InputBoxShadow, $alpha: .05),
        0 8px 24px -3px rgba($color: v.$InputBoxShadow, $alpha: .1);
}

@mixin BackLink() {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: v.$spacing-xx-sm;
}

@mixin Input($height: v.$InputHeight) {
    width: 100%;
    height: $height;
    // margin-top: .7rem;
    padding: .4rem 1.2rem;
    border: 1px solid v.$neutral-500;
    border-radius: 8px;
    outline: none;
    background-color: v.$InputBgc;

    @include text.InputText();

    &:focus {
        border-width: 2px;
        border-color: #268AFF;
    }

    // &:valid {
    //     border-width: 2px;
    //     border-color: v.$InputBgcOnValid;
    // }

    &:invalid {
        border-width: 2px;
        border-color: v.$InputBgcOnInvalid;
    }
}


@mixin Tablet {
    @media (max-width: #{v.$tabletWidth}) {
        @content;
    }
}

@mixin MobileLandscape {
    @media (max-width: #{v.$mobileLandscapeWidth}) {
        @content;
    }
}

@mixin MobilePortrait {
    @media (max-width: #{v.$mobilePortraitWidth}) {
        @content;
    }
}