@use "variables"as v;
@use "FontSets"as text;


@mixin Tablet {
    @media (max-width: #{v.$tabletWidth}) {
        @content;
    }
}

@mixin MobileLandscape {
    @media (max-width: #{v.$mobileLandscapeWidth}) {
        @content;
    }
}

@mixin MobilePortrait {
    @media (max-width: #{v.$mobilePortraitWidth}) {
        @content;
    }
}

@mixin LayerCoverBackground() {
    padding: 0 v.$spacing-big;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f29375f;
    z-index: 100;
}

@mixin SidebarTransition() {
    transition: all 200ms ease-in-out;
}