@use "FontSets"as text;
@use "variables"as v;
@use "mixins"as mx;


.PrimaryBtn {
    border: none;

    @include mx.Btn(v.$primaryBtnColor, #fff, medium);

    &:hover {
        background-color: rgb(79, 111, 255);
    }
}

.SecondaryBtn {
    border: 2px solid v.$primaryBtnColor;

    @include mx.Btn(transparent, v.$primaryBtnColor, medium);

    &:hover {
        color: #f5f5f5;
        background-color: #2e54ff8f;
    }
}

.DeleteBtnPrimary {
    border: none;

    @include mx.Btn(v.$danger500, #fff, medium);

    &:hover {
        background-color: v.$danger700;
    }

}

.DeleteBtn {
    border: 2px solid v.$danger400;

    @include mx.Btn(transparent, v.$danger400, medium);

    &:hover {
        color: #f5f5f5;
        border-color: v.$danger600;
        background-color: v.$danger600;
    }
}

.LogoutBtn {
    cursor: pointer;
    width: fit-content;
    padding: v.$spacing-x-sm v.$spacing-md;
    border: none;
    outline: none;
    color: v.$neutral-500;
    background-color: transparent;

    @include text.ButtonText(medium);
}

.ProviderLogin {
    cursor: pointer;
    width: 100%;
    padding: v.$spacing-md v.$spacing-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: v.$spacing-xx-sm;
    border: 2px solid v.$borderColor;
    border-radius: 8px;
    outline: none;
    background-color: v.$InputBgc;
    transition: all ease-in-out 100ms;

    @include text.ButtonText(medium);

    &:hover {
        background-color: #86868638;
    }
}

.Cancel {
    border: 1px solid rgb(99, 99, 99);

    @include mx.Btn(transparent, black, medium);
}

.BtnsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: v.$spacing-sm;
}