@use "FontSets"as text;
@use "variables"as v;
@use "mixins"as mx;

@mixin Btn($bgc, $color) {
    cursor: pointer;
    min-width: fit-content;
    width: 100%;
    max-width: 350px;
    padding: v.$spacing-md v.$spacing-sm;
    border-radius: 8px;
    outline: none;
    color: $color;
    background-color: $bgc;

    @include mx.InputBoxShadow();
    @include text.ButtonText();
}

.PrimaryBtn {
    border: none;

    @include Btn(v.$primaryBtnColor, ¤fff);
}

.SecondaryBtn {
    border: 2px solid v.$primaryBtnColor;

    @include Btn(transparent, v.$primaryBtnColor);
}

.DeleteBtn {
    border: 2px solid v.$danger600;

    @include Btn(transparent, v.$danger600);
}

.LogoutBtn {
    cursor: pointer;
    width: fit-content;
    padding: v.$spacing-x-sm v.$spacing-md;
    border: none;
    outline: none;
    color: v.$neutral-500;
    background-color: transparent;

    @include text.ButtonText();
}