@use "variables"as v;
@use "FontSets"as text;

.ConfirmationModalBackgroundLayer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f29375f;
}

.ConfirmationModal {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-rows: auto auto auto;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.ConfirmationModalHeader {
    padding: v.$spacing-md v.$spacing-big;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F4F7;
}

.ConfirmationTitle {
    font-size: v.$fontSize-x-big;
    line-height: 28px;
    // font-weight: v.$fontWeight-semibold;
}

.ConfirmationMessage {
    padding: v.$spacing-md v.$spacing-big;
    color: rgb(85, 85, 85);
}

.ConfirmationFooter {
    padding: v.$spacing-md v.$spacing-big;
    border-top: 1px solid rgb(204, 204, 204);
}

.CloseIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}