@use "variables"as v;
@use "FontSets"as text;

.Table {
    width: 100%;
    margin-top: v.$spacing-sm;
    display: block;
    border: 1px solid v.$borderColor;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    td {
        vertical-align: middle;
    }
    // GRID NOT WOKRING
}
.TableHead {
    padding: v.$spacing-sm v.$spacing-big;
    // GRID NOT WOKRING
    display: block;
    border-bottom: 1px solid v.$borderColor;
    
    tr {
        display: block;
    }
}
.TableBody {
    // GRID NOT WOKRING
    display: block;
}
.TableRow {
    padding: v.$spacing-sm v.$spacing-big;
    // GRID NOT WOKRING
    display: block;
    border-bottom: 1px solid v.$borderColor;
}
.TableRowFirstColumn {
    display: flex;
    align-items: center;
    gap: v.$spacing-sm;

    img {
        width: 90px;
        height: 50px;
        border: 1px solid v.$borderColor;
        border-radius: v.$BRadius-xx-sm;
        object-fit: cover;
    }

    p {
        display: flex;
        flex-direction: column;
        gap: v.$spacing-xx-sm;
    }

    span:not(:first-child) {
        color: #707070;
        @include text.LabelMedium();
    }
}
.TableRowColumn {
    display: flex;
    align-items: center;
    gap: v.$spacing-x-sm;
}
.Title {
    display: flex;
    align-items: center;
    gap: v.$spacing-md;
    @include text.DesktopHeadingFive();
}