@use "variables"as v;
@use "FontSets"as text;

.tableCredentials {
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
    border-radius: 16px 16px 0 0;
    overflow: hidden;

    thead {
        color: #9CA3AF;
        background-color: #1F2937;

        th {
            padding: v.$spacing-md v.$spacing-x-big v.$spacing-x-sm;
            text-align: left;
            @include text.LabelLarge();
        }
    }
}

.CredentialCard {
    border-top: 1px solid #1F2937;
    border-bottom: 1px solid #1F2937;
    background-color: #111827;

    td {
        padding: v.$spacing-sm v.$spacing-x-big;
        color: #9CA3AF;

        &:nth-child(1) {
            color: white;
            @include text.LabelMedium();
        }

        @include text.LabelSmall();
    }
}

.Title {
    @include text.DesktopHeadingFive();
}