@use "variables"as v;
@use "FontSets"as text;

.tableCredentials {
    width: 100%;
    max-width: 700px;
    margin-top: v.$spacing-sm;
    padding: 60px;
    border-collapse: collapse;
    border-radius: 16px 16px 0 0;
    overflow: hidden;

    thead {
        height: 72px;
        background-color: v.$tableHeaderBgc;

        th {
            color: v.$neutral-500;
            text-align: left;

            @include text.TableHeaderText();

            &:nth-child(1) {
                padding-left: v.$spacing-x-big;
            }

            &:last-of-type {
                padding-right: v.$spacing-x-big;
            }
        }
    }
}

.CredentialCard {
    height: 56px;
    border-top: 2px solid v.$tableHeaderBgc;
    border-bottom: 2px solid v.$tableHeaderBgc;
    background-color: v.$tableRow;

    td {
        color: #a1a2a7;

        &:nth-child(1) {
            padding-left: v.$spacing-x-big;
            color: white;
            @include text.LabelMedium();
        }

        &:last-of-type {
            padding-right: v.$spacing-x-big;
        }

        @include text.LabelSmall();
    }
}

.TitleCallToAction {
    width: 100%;
    max-width: 700px;
    display: flex;
}

.Title {
    display: flex;
    align-items: center;
    gap: v.$spacing-md;
    @include text.DesktopHeadingFive();
}

.NumberOfRowSpan {
    padding: v.$spacing-xx-sm v.$spacing-sm;
    border-radius: 100px;
    background-color: v.$tableRow;

    @include text.TableLengthNumber();
}