@use "variables"as v;

.Layout {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 150px;
    background-color: #fff;
}

.main {
    margin: 0 v.$spacing-big;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-big;
}