@use "FontSets"as text;
@use "variables"as v;

@mixin Input($height: 100%) {
    width: 100%;
    height: $height;
    border: none;
    outline: none;
    background-color: transparent;

    @include text.InputText();
}

@mixin LabelContainer($elementOnFocus, $alignLabel: center, $height: 42px) {
    height: $height;
    display: flex;
    align-items: $alignLabel;
    gap: v.$spacing-x-big;
    border-radius: 8px;
    background-color: v.$inputBgc;
    box-shadow: 0 8px 24px -3px rgba($color: #101828, $alpha: .05),
        0 8px 24px -3px rgba($color: #101828, $alpha: .1);

    @if $elementOnFocus==input {
        &:has(input:focus) {
            background-color: v.$inputBgcOnFocus;
        }
    }

    @if $elementOnFocus==textarea {
        &:has(textarea:focus) {
            background-color: v.$inputBgcOnFocus;
        }
    }
}

.formBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 22, 22, 0.5);
}

.SubmitForm {
    width: 460px;
    padding: v.$spacing-md;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-md;
    border-radius: 12px;
    background-color: v.$formBgc;

    hr {
        border: 1px solid v.$inputBgc;
    }
}

.LabelContainer {
    padding: 0 v.$spacing-sm;
    @include LabelContainer(input);
}

.Input {
    @include Input();
}

.LabelTextareaContainer {
    padding: v.$spacing-sm;
    @include LabelContainer(textarea, flex-start, fit-content);
}

.FormTextarea {
    @include Input(100px);
}

.closeIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.tagsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: v.$spacing-xx-sm;
}

.BtnsContainer {
    display: flex;
    justify-content: flex-end;
    gap: v.$spacing-x-sm;
}

.SearchContainer {
    height: 70px;
    display: flex;
    align-items: center;
}

.SearchForm {
    width: 100%;
    height: 48px;
    padding: 0 v.$spacing-sm;
    display: flex;
    align-items: center;
    gap: v.$spacing-sm;
    border: 1px solid v.$searchInpBorder;
    border-radius: 8px;
}

.SerchIcon {
    width: 20px;
    height: 20px;
    color: v.$searchInpBorder;
}

.SearchInput {
    @include Input();
}