@use "FontSets"as text;
@use "variables"as v;
@use "mixins"as mx;


// DONT MOVE
.ViewOnlyInput {
    min-height: 52px;
    height: fit-content;
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    gap: v.$spacing-x-sm;
    // border: 1px solid v.$borderColor;
    border-radius: 8px;
    // box-shadow: 0 0px 4px rgb(0 0 0 / 0.1);
    background-color: #F1EFEE;

    p {
        font-weight: 700;
    }
}

// DONT MOVE
.UpdateCredentialForm {
    width: 100%;
    max-width: 460px;
    padding: v.$spacing-md;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-x-big;
}

// DONT MOVE
.FormControl {
    width: 100%;
}

// DONT MOVE
.Label {
    margin-bottom: .3rem;
    display: block;
    color: #747474;
    @include text.LabelMedium();
}

// DONT MOVE
.Input {
    width: 100%;
    height: inherit;
    padding: .4rem 1.2rem;
    outline: none;
    border: 2px solid v.$borderColor;
    border-radius: 8px;
    background-color: v.$InputBgc;

    @include text.InputText();

    &:focus {
        border-color: #268AFF;
    }

    &:invalid {
        border-width: 2px;
        border-color: v.$InputBgcOnInvalid;
    }
}

// DONT MOVE
.LoginForm {
    width: 100%;
    max-width: 360px;
}

// DONT MOVE
.InputButtonContainer {
    height: v.$InputHeight;
    display: flex;
    gap: v.$spacing-x-sm;
}







.Form {
    width: 100%;
    max-width: 460px;
    padding: v.$spacing-md;
    border-radius: 16px;
    background-color: #fff;
}
























.FormHeader {
    margin-bottom: v.$spacing-sm;
    display: flex;
    align-items: center;
}

.FormContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: v.$spacing-x-big;
}

.FormFooter {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: v.$spacing-x-sm;
}

.FormBackgroundLayer {
    @include mx.LayerCoverBackground();
}

.CloseIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}