@use "FontSets"as text;
@use "variables"as v;
@use "mixins"as mx;


.FormControl {
    width: 100%;
}

.Label {
    margin-bottom: v.$spacing-x-sm;
    display: block;
}

.Input {
    @include mx.Input(true);
}

.Form, .FormLogin {
    width: 100%;
    max-width: 460px;
    padding: v.$spacing-md;
    border-radius: 16px;
    background-color: v.$formBgc;

    hr {
        margin: v.$spacing-md 0;
        border: 1px solid grey;
    }
}

.FormLogin {
    box-shadow: 0 2px 6px 0 rgba(16, 24, 40, 0.06);
}

.FormHeader {
    margin-bottom: v.$spacing-sm;
    display: flex;
    align-items: center;
}

.FormContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: v.$spacing-x-big;
}

.FormFooter {
    display: flex;
    justify-content: flex-end;
    gap: v.$spacing-x-sm;
}

.FormBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(22, 22, 22, 0.5);
}

.CloseIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

// Kanske behöver göra om
.SearchContainer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.SearchForm {
    width: 100%;
    height: 48px;
    padding-right: v.$spacing-sm;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: v.$searchInpBgc;
}
.SearchIcon {
    width: 20px;
    height: 20px;
    color: v.$neutral-400;
}
.SearchInput {
    @include mx.Input();
}
.SearchResults {
    height: fit-content;
    padding: v.$spacing-big 0 v.$spacing-sm;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-x-sm;
    position: absolute;
    z-index: -1;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    border-radius: 0 0 8px 8px;
    background-color: v.$searchResultBgc;

    li {
        cursor: pointer;
        height: fit-content;
        padding: v.$spacing-xx-sm v.$spacing-sm;

        &:hover {
            background-color: v.$searchResultOnFocus;
        }
    }
}
.Result {
    height: 34px;
    display: flex;

    div {
        flex-grow: 1;
    }

    p {
        color: v.$neutral-400;
    }
}




.SubmitFormAlt {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-x-big;
    border-radius: 12px;

    hr {
        border: 1px solid v.$InputBgc;
    }
}

.LabelTextareaContainer {}

.FormTextarea {
    @include mx.Input(100px);
}