@use "variables"as v;
@use "mixins"as mx;


.Header {
    padding: 0 v.$spacing-big;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    
    @include mx.Tablet() {
        gap: v.$spacing-lg;
    }
}
.SearchContainer {
    flex: 1;
}