@use "./Abstracts/variables" as v;
@use "./Abstracts/mixin" as mx;

.Header {
    height: v.$HeaderHeight;
    padding: v.$spacing-md v.$spacing-big;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid v.$borderColor;
}
.LogoName {
    height: fit-content;
    font-size: 1.25rem;
    font-weight: v.$fontWeight-bold;
    color: v.$primaryBtnColor-700;
    span {
        color: v.$primaryBtnColor-400;
    }
}