@use "variables"as v;
@use "mixins"as mx;


.Header {
    padding: v.$spacing-big;
    display: flex;
    flex-direction: column;

    @include mx.Tablet() {
        padding: 0 v.$spacing-big;
        flex-direction: row;
    }
}

.Divider {
    width: 100%;
    margin: 8px auto;
    border: 1px solid #2a2b2f1a;

    @include mx.Tablet() {
        display: none;
    }
}

.HeaderInMain {
    height: 70px;
    display: flex;
    align-items: center;
}