@use "FontSets"as text;
@use "variables"as v;

.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: v.$spacing-xxx-big;
}

.IntroductionHeading {
    @include text.DesktopDisplayLarge();
}