@use "./Abstracts/variables" as v;

.LoginLayout {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LandingPageLayout {
    width: 500px;
    margin: 0 auto;
    text-align: center;

    p {
        margin-top: v.$spacing-big;
    }
}
.AboutSection {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-xx-big;

    ul {
        -webkit-padding-start: v.$spacing-big;
    }
}