@use "./variables"as v;
@use "./mixins"as mx;

.LandingPageLayout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: v.$spacing-xxx-big;
}

.LoginLayout {
    height: 100vh;
    padding: v.$spacing-big;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DashboardLayout {
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "header header"
        "menu content";

    @include mx.Tablet() {
        grid-template-rows: 70px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "content";
    }
}