@use "./Abstracts/variables" as v;
@use "./Abstracts/mixin" as mx;
@use "./Abstracts/fontSets" as text;

.LoginLayout, .LandingPageLayout {
    height: calc(100vh - v.$HeaderHeight);
    padding: v.$spacing-big;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        @include text.DesktopDisplayLarge();
    }

    p {
        width: 500px;
        text-align: center;
    }
}
.LandingPageLayout {
    flex-direction: column;
    gap: v.$spacing-xxx-big;
}
.DashboardLayoutExpanded, .DashboardLayoutCollapsed {
    height: calc(100vh - v.$HeaderHeight);
    display: grid;
    @include mx.SidebarTransition();
}
.DashboardLayoutExpanded {
    grid-template-columns: v.$SideNavWidth 1fr;
}
.DashboardLayoutCollapsed {
    grid-template-columns: v.$SideNavWidthCollapsed 1fr;
}