@use "./variables"as v;

.loginLayout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: fit-content;
    padding: v.$spacing-md;
    border-radius: 12px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 6px 0 rgba(16, 24, 40, 0.06);
}

.provider {
    min-width: 150px;
    padding: v.$spacing-md v.$spacing-sm;

    font-size: v.$fontSize-md;
    font-weight: v.$fontWeight-semibold;

    border: 2px solid #bdbdbd;
    border-radius: 8px;
    outline: none;
    background: none;

    &:hover {
        cursor: pointer;
    }
}