@use "variables"as v;
@use "FontSets"as text;


@mixin Tag() {
    width: fit-content;
    padding: v.$spacing-x-sm v.$spacing-sm;
    display: flex;
    align-items: center;
    gap: v.$spacing-xx-sm;
    border-radius: 4px;
    text-align: center;
    color: white;
    background-color: #1F2937;

    @include text.TagText();

    &:hover {
        // Prevention For highlighting text
        /* Safari */
        -webkit-user-select: none;
        /* IE 10 and IE 11 */
        -ms-user-select: none;
        /* Standard syntax */
        user-select: none;
    }
}

.tagRemove {
    @include Tag();

    &:hover {
        cursor: pointer;
        text-decoration: line-through;
    }
}

.tag {
    @include Tag();
}