@use "variables"as v;
@use "FontSets"as text;
@use "mixins"as mx;

.UserCard {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: v.$spacing-sm;
}

.ProfilePic {
    border-radius: 12px;
}

.UserCardLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}
.UserCardTitle {
    @include text.UserCardTitle();
}
.UserCardEmail {
    @include text.LabelMedium();
    color: #737373;
}