@use "variables"as v;

.LogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TagsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: v.$spacing-xx-sm;
}

.BtnsContainer {
    width: 100%;
    display: flex;
}