@use "variables"as v;
@use "mixins"as mx;


.TagsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: v.$spacing-xx-sm;
}

.SideMenuWrapper {
    width: 100%;
    max-width: 270px;
    padding: 0 v.$spacing-sm v.$spacing-big;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mx.SidebarTransition();

    border-right: 1px solid black;

    @include mx.Tablet() {
        display: none;
    }
}
.SideMenuWrapperColapsed {
    width: fit-content;
}

.PageInfoMainContainer {
    display: flex;
    justify-content: center;
}

.PageInfoContainer {
    width: 100%;
    max-width: 460px;
    padding: v.$spacing-md;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-x-big;
}