/* CSS RESETS */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgc-dark-m: #060C1B;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--bgc-dark-m);
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}