@use "../Abstracts/variables" as v;
@use "../Abstracts/mixin" as mx;

.SidebarWrapper {
    padding: v.$spacing-md;
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid v.$borderColor;
}
.SidebarIcons {
    width: 24px;
    height: 24px;
}
.NavList {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include mx.SidebarTransition();
}
.NavItem {
    cursor: pointer;
    padding: v.$spacing-x-sm;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: v.$BRadius-x-sm;
    font-weight: 600;
    transition: background-color 100ms ease-in-out;
    
    & .NavItemText {
        width: 100%;
        margin-left: v.$spacing-x-sm;
        overflow: hidden;
        @include mx.SidebarTransition();
    }
    &:hover {
        color: v.$primaryBtnColor-700;
        background-color: v.$primaryBtnColor-100;
    }
}