@use "../FontSets"as text;
@use "../variables"as v;
@use "../mixins"as mx;


.InputsContainer {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-big;
}
.Label {
    margin-bottom: .25rem;
    display: block;
    color: v.$neutral-600;
    @include text.LabelMedium();
}
.Input {
    width: 100%;
    height: 42px;
    padding: v.$spacing-x-sm v.$spacing-sm;
    outline: none;
    border: 1px solid v.$borderColor;
    border-radius: v.$BRadius-x-sm;
    @include text.InputText();
    &:focus {
        border-color: #268AFF;
    }
}
.ErrorText {
    margin-top: v.$spacing-sm;
    padding: v.$spacing-x-sm v.$spacing-sm;
    border-radius: v.$BRadius-xx-sm;
    color: v.$danger700;
    background-color: v.$danger200;
}
.ViewOnlyInput {
    min-height: 48px;
    padding: v.$spacing-sm v.$spacing-md;
    display: flex;
    align-items: center;
    gap: v.$spacing-x-sm;
    border-radius: 8px;
    background-color: #F1EFEE;

    a {
        font-weight: 600;
        color: v.$neutral-600;
    }
}
.InputButtonContainer {
    display: flex;
    align-items: center;
    gap: v.$spacing-x-sm;
}




.TextAreaInput {
    width: 100%;
    height: 150px;
    padding: .7rem 1rem;
    outline: none;
    border: 1px solid v.$borderColor;
    border-radius: 8px;
    background-color: v.$InputBgc;

    font-family: inherit;
    @include text.InputText();

    &:focus {
        border-color: #268AFF;
    }
}